<nav>
    <ul class="nav-title">
        <li>
            <a href="/">CHIV STATS</a>
        </li>
    </ul>
    <ul class="nav-items">
        <li>
            <a href="/weapons">Weapons</a>
        </li>
        <li>
            <a href="/classes">Classes</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
    </ul>
</nav>

<style>
    nav {
        background-color: #000000;
    }
    .nav-title {
        float: left;
        margin-left: 5px;
    }
    .nav-items {
        float: right;
        margin-right: 5px;
    }
</style>